h1,h2,h3,h4,h5,h6 .a, #asd {color:purple;font-family:"Monotype Corsiva";}
.list1{font-family:'Times New Roman';font-size:18pt;color:red;}
.list2{font-family:'Times New Roman';font-size:20pt;color:yellow;}
.list3{font-family:'Times New Roman';font-size:22pt;color:green;}
