div{
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-left: 100px;
}
.alert{
  display: block;
}
img{
  width: 100%;
  height: 100%;
}
.cl4{
  background-image: url(img/download.jpg);
}