.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}
.row{
  display: flex;
  align-items: stretch;
  flex-grow: 1;
}
.row2{
  display: flex;
  align-items: stretch;
}
.div1{
  order: 1;
  flex-grow: 1;
  margin-bottom: 20px;
}
.div2{
  order: 1;
  flex-grow: 1;
}
.div3{
  order: 2;
  margin-left: 20px;
  font-size: 20px;
  flex-grow: 2;
}
.div4{
  order: 3;
  margin-left: 20px;
  flex-grow: 1;
}
div div div{
  border: 1px solid black;
  text-align: center;
}
audio{
  margin-top: 100px;
}
.burger {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  flex-flow: row wrap;
  justify-content: space-around;
}
.burger ul {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  flex-flow: row wrap;
  justify-content: space-around;
}
.burger ul li{
  float: right;
  display: block;
  list-style: none;
}
input{
  width: 200px;
  height: 30px;
  background-color: white;
}
label {
display: inline-block;
border: none;
translate: 180px -25px;
}
.menu{
  width: 170px;
}
@media (max-width:885px){
 nav>ul>li{
  position: relative;
  
 }
 nav ul{
  position: absolute;
  
 }
 nav ul ul {
  visibility: hidden;
 }
 .menu:hover+ul{
  visibility:visible ;
  translate: -5px 30px;
 }
 .menu1:hover{
  visibility: visible;
  translate: -5px 30px;
 }
 .menu1 li{
  margin-top: 20px;
 }
}
img{
  max-width: 100%;
  max-height: 100%;
}
figure{
  max-width: 300px;
  max-height: 300px;
  display: block;
}
.row3{
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 200px;
}
figcaption{
  font-size: 20px;
}
@media(max-width:1280px){
  figure{
    width: 100%;
    max-width: none;
  }
}
@media(max-width:480px){
  .container{
    flex-flow: row wrap;
  }
  .row2{
    flex-flow: row wrap;
  }
  .div2{
    flex:1 1 200px;
  }
  .div3{
    flex:1 1 200px;
  }
  .div4{
    flex:1 1 200px;
  }
}


