caption{
  font-size: 1.2em;
  text-align: center;
}
table{
  empty-cells: hide;
  border-spacing: 0px;
}
td{
  border: 2px;
  border-color:grey;
  border-style: solid;
}
th{
  border: 2px;
  border-color:grey;
  border-style: solid;
  background-color: darkblue;
  color: white;
}
th:nth-child(1){
  background-color: white;
  color: black;
}
td:nth-child(2){
  background-color: #00bff0;
  color: white;
}
td:nth-child(3){
  background-color: purple;
  color: white;
}
td:nth-child(4){
  background-color: green;
  color: white;
}

