.aside{
  display: inline-block;
  width: 400px;
  height: 800px;
  float: right;
}
ul.nav{
  list-style-type: none;
}
ul.nav a{
  margin-top: 50px;
  display: block;
  width: 100px;
  height: 40px;
  font-size: 20px;
  border: 1px solid black;
}
a:link{
  color: red;
  text-decoration: none;
}
a:visited{
  color: #8b0000;
}
a:hover{
  color: green;
}
a:active{
  color: rgb(184,134,11);
}
section{
  margin-top: 50px;
  font-size: 25px;
}